
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<form action="~/Product/SearchResult" method="post" id="form">
    <label for="search">Enter Search Term:</label>
    <input type="text" name="search" id="search" required/>

    <button type="submit" id="submit">Submit</button>
</form>