
@{
    ViewBag.Title = "Purchased";
}

<h2>Thank you for your order from N<i id="logo" class="fa fa-compass"></i>rthwind </h2>
<h3>Your order will arrive in 10-15 business days.</h3>
<hr />
<div class="font-md"><a href="~/Home/Index"><i class="fa fa-home"></i>Home</a></div>

